@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #A72C2B;
  --font-rochester: "Rochester", cursive;
}

body {
  background-image: url("./bg.png");
}

#root {
  max-width: 1020px;
  margin: 0 auto;
  background: #fff;
  min-height: 100dvh;
  padding: 0px 64px;
}
